@font-face {
  font-family: Slack-Font;
  src: url('/src/components/resources/Larsseit\ Regular.ttf');
}

.details p {
	color: black;
}

.details {
  height: 100%;
  width: 100%;
}

.details-container {
  padding: 1vh;
  height: 6.5%;
  width: 100%;
  border-bottom: 1px solid grey;
}

.channelsMembers {
  margin-left: 1vh;
}

.memberBtn {
  display: flex;
  height: 80%;
  width: 6%;
  margin-left: auto;
  margin-right: 2vh;
  display: flex;
  align-items: center;
  border-radius: 1vh;
  border-width: 1px;
  position: relative;
  border: 1px solid rgb(214, 214, 214);
}

.memberBtn:hover {
  background:rgb(214, 214, 214);
}

.header-content {
  display: flex;
  align-items: center;
  height: 7%;
  width: 100%;
  box-shadow: 0px 0px 5px 0px grey;
  padding: 0.5vh;
}
.chat-header{
  padding: 1vh;
  height: 8%;
  border-bottom: 1px solid grey;
}

.channelsMembers {
  margin-left: 1vh;
}

.channel-name {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 750;
  font-size: 1.7vh;
  height: 80%;
  border-radius: 0.5vh;
  margin-left: 1vh;
  white-space: nowrap;
  width: auto;
  padding: 1vh;
}

.channel-name:hover {
  background: rgb(214, 214, 214);
  cursor: pointer;
}

.lockIcon {
  height: 80%;
  max-width: 100%;
  margin-right: 5%;
}

.memberAvatar {
  height: 70%;
  max-width: 100%;
  position: absolute;
}

.ma1 {
  left: 0.5vw;
}

.ma2 {
  left: 1.2vw;
}

.ma3 {
  left: 1.9vw;
}

.channels {
  display: flex;
  flex-direction: column;
}

.channels a {
  font-size: medium !important;
}

.App-logo {
  width: 225px;
  height: 125px;
  margin: 30px;
}

.create-channel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.create-channel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  width: 100%;
}

#add-channel-form {
  display: flex;
  flex-direction: column;
  width: 25%;
}

#add-channel-form > .form-control {
  margin-bottom: 10px;
  padding: 10px;
  color: gray;
  border-radius: 9px;
  border: 1px solid gray;
  background-color: white;
  width: 100%;
}

#add-channel-form > .form-btn {
  border: none;
  padding: 15px;
  color: white;
  border-radius: 9px;
  cursor: pointer;
  background-color: #43b079;
  margin: 30px;
}

#add-channel-form > .form-btn:hover {
  color: #43b079;
  background-color: #ededed;
  transition: all 0.3s ease-in-out;
}

#add-channel-form > .form-control,
#add-channel-form > .form-btn:focus {
  outline: none;
}

.user-select {
  border-radius: 15px;
  width: 100%;
}

.membersModal {
  position: absolute;
  height: 75%;
  width: 25%;
  background: #F0F0F0;
  top: 0;
  right: 0;
  box-shadow: 0px 0px 3px 0px grey;
  transform: scale(0.1);
  animation: move 0.1s ease-in-out forwards;
}

.membersContainer {
  height: 100%;
  width: 100%;
  background: transparent;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1vh;
}

.membersForm {
  height: 100%;
  width: 100%;
}

.memberNow {
  height: 20%;
  width: 100%;
  overflow: auto;
  background: white;
}

.membersLink {
  height: 20%;
  font-family: Slack-Font;
  display: flex;
  align-items: center;
}

.membersLink:hover {
  background:rgb(214, 214, 214)
}

.MemberCount {
  margin-left: auto;
  margin-right: 1vh;
  font-size: 0.7vw;
}

@keyframes move {
  0%{}
  100%{ 
    transform: scale(1);
    top: 1vh;
    right: 2vh;
  }
}

