* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.message-wrapper {
    height: 80%;
    width: 100%;
    border: 1px solid black;
}

.message-box {
  height: 93%;
  width: 100%;
}

.message-boxer {
    height: 7%;
    width: 100%;
}

.message-datas {
    border-radius: 0.5vh;
    border-width: 1px;
    margin: 1vh;
    height: 40%;
    width: 98.5%;
}



