* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  --slack-color: #3f0e40;
}

.app__body {
  display: flex;
  flex-direction: column;
  height: 95%;
  width: 100%;
  flex-direction: row;
}
.body{
  height: 100%;
  width: 80%;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  color: var(--slack-color);
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: var(--slack-color);
  color: white;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
  background-color: ghostwhite;
  margin-left: 300px;
}

.userList{ 
  color : black;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

