* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app__body {
  display: flex;
  height: 100%;
  flex-direction: row;
  overflow: auto;
  width: 100%;
}
.body{
  width: 80%;
  overflow: auto;
  padding: 20px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  color: rgb(63,29,64);
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: rgb(63,29,64);
  color: white;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
  background-color: ghostwhite;
  margin-left: 300px;
}

.login-wrapper, .registration-wrapper {
  height: 25rem;
  width: 25rem;
  background: #4A154B;
}

form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.login-wrapper input, .login-wrapper button, .login-wrapper input, .regitration-wrapper input {
  width: 55%;
  margin-top: 1.5rem;
}

.userList{ 
  color : black;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

