* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  width: 100vw;
  background: #D9DDDC;
  display: grid;
  grid-template: repeat(17, 1fr) / repeat(13, 1fr);
}

.header {
  grid-column: 1 / 14;
  grid-row: 1 / 2;
  background: #2B092A;
}

.sidebar {
  grid-column: 1 /  3;
  grid-row: 2 / 18;
  background: #3E103F;
}

.content {
  grid-column: 3 / 14;
  grid-row: 3 / 18;
  background: green;
}

/* body {
  overflow: hidden;
  --slack-color: #3f0e40;
}

.app__body {
  display: flex;
  height: 100vh;
  flex-direction: row;
  overflow: auto;
  width: 100%;
}
.body{
  height: 100%;
  width: 100%;
  overflow: none
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  color: var(--slack-color);
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: var(--slack-color);
  color: white;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
  background-color: ghostwhite;
  margin-left: 300px;
}

.userList{ 
  color : black;
} */
