@font-face {
    font-family: Slack-Font;
    src: url('/src/components/resources/Larsseit\ Regular.ttf');
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.login-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: #FEFEFD;
}

.login-form {
    height: 50%;
    width: 30%;
    background: #FFFF;
    box-shadow: 1px 5px 5px grey;
    border-radius: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input-wrapper {
    padding: 1vh;
    height: 90%;
    width: 90%;
    background-color: white;
}

h1 {
    text-align: center;
    font-family: Slack-Font
}

.login-email {
    width: 100%;
    height: 10%;
    margin-top: 3vh;
    border-radius: 0.6vh;
    border-width: 1px;
}

.login-text {
    width: 100%;
    height: 10%;
    margin-top: 3vh;
    border-radius: 0.6vh;
    border-width: 1px;
}

.login-email:focus {
    outline: none !important;
    border:1px solid rgb(0, 204, 255);
    box-shadow: 0 0 5px #719ECE;
}

.login-text:focus {
    outline: none !important;
    border:1px solid rgb(0, 204, 255);
    box-shadow: 0 0 5px #719ECE;
}


.login-button {
    margin-top: 1vw;
    width: 100%;
    height: 10%;
    background: #5C2C5D;
    color: #FFFFFF;
    font-size: 1vw;
}

.slack-gif {
    max-width: 30vw;
}