@font-face {
    font-family: Slack-Font;
    src: url('/src/components/resources/Larsseit\ Regular.ttf');
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.loginContainer {
    height: 100vh;
    width: 100vw;
    background-color: #FDFDFD;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slackGif {
    height: 20%;
    max-width: 100%;
}

.loginForm {
    height: 50%;
    width: 35%;
}

.inputWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signHeader {
    font-family: Slack-Font;
    font-size: 4.5vh;
    margin-top: 1vh;
    margin-bottom: 1.5vh;
}

.bottomHeader {
    font-family: Slack-Font;
    color: #6D8299;
    margin-bottom: 2vh;
}

.horizontalRule {
    height: 5%;
    width: 57%;
    margin-bottom:  2vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Slack-Font;
}

.hrLeft, .hrRight {
    width: 40%;
}

.loginEmail, .loginText {
    height: 8%;
    border-radius: 0.6vh;
    border: 1.5px solid black;
    font-family: Slack-Font;
    width: 60%;
    margin-bottom: 2vh;
    border-color: grey;
}

.loginEmail:focus, .loginText:focus {
    outline: none !important;
    box-shadow: 0 0 8px rgb(0, 152, 253);
}

.loginGoogle, .loginFacebook {
    height: 8%;
    cursor: pointer;
    border-radius: 0.6vh;
    width: 60%;
    margin-bottom: 2vh;
    font-weight: bolder;
    font-size: 1.7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginGoogle {
    color: #5C7AEA;
}

.googleIcon {
    height: 60%;
    max-width: 100%;
    margin-right: 1vh;
}

.facebookIcon {
    height: 70%;
    max-width: 100%;
    margin-right: 1vh;
}

.loginFacebook {
    color: white;
}

.loginGoogle {
    border: 1px solid #5C7AEA;
    background: #FFFFFF;
}

.loginFacebook {
    border: none;
    background: #45619D;
}

.loginButton {
    height: 8%;
    border-radius: 0.5vh;
    border: none;
    background: #5C2C5D;
    color: #FFFFFF;
    font-weight: bolder;
    cursor: pointer;
    font-size: 1.7vh;
    width: 60%;
}

.registrationHeader {
    width: 60%;
    margin-top: 1.5vh;
    font-size: 1.1vh;
    color: grey;
    font-family: Slack-Font;
}

.registerButton {
    color:#45619D;
    cursor: pointer;
}

.copyWrite {
    position: fixed;
    bottom: 2.5vh;
    color: grey;
}